{% extends 'base_admin.html.twig' %}

{% block pagina %}
    Inicio
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">

                {% if is_granted('ROLE_CONCESIONARIOS') %}
                    <a href="{{ path ('admin_ciudades_index') }}">
                        <div class="mini-stat clearfix bx-shadow bg-white">
                            <span class="mini-stat-icon bg-info"><i class="md md-web"></i></span>
                            <div class="mini-stat-info text-right text-dark">
                                <span class="text-dark">Concesionarios</span>
                            </div>
                        </div>
                    </a>
                {% elseif is_granted('ROLE_RECALLS') %}
                    <a href="{{ path ('admin_recalls_index') }}">
                        <div class="mini-stat clearfix bx-shadow bg-white">
                            <span class="mini-stat-icon bg-info"><i class="md md-web"></i></span>
                            <div class="mini-stat-info text-right text-dark">
                                <span class="text-dark">Recall</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>

        </div>
    </div> <!-- container -->
{% endblock %}