{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = 'Registros' %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registros</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Codigo VIN</th>
                                    <th>Fecha</th>
                                    <th>Nombres</th>
                                    <th>Correo</th>
                                    <th>Acción</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for registro in registros %}
                                    <tr>
                                        <td>{{ registro.id }}</td>
                                        <td>{{ registro.codigo.codigo }}</td>
                                        <td>{{ registro.fecha|date }}</td>
                                        <td>{{ registro.nombres }}</td>
                                        <td>{{ registro.correo }}</td>
                                        <td>
                                            {% if registro.nombres != '' or registro.apellidos != '' or registro.telefono != '' or registro.correo != '' %}
                                                <a class="btn btn-primary" href="{{ path('admin_registro', {idRegistro:registro.id}) }}">Ver Formulario</a>
                                            {% else %}
                                                No envio Formulario
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
{% endblock %}