{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = 'Subir códigos a Recoll "'~entidad.nombre~'"' %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li><a href="{{ path('admin_recalls_index') }}">Recalls</a></li>
    <li><a href="{{ path('admin_recalls_edit', { 'id': entidad.id }) }}">{{ entidad.nombre }}</a></li>
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}
    {% if aux is defined %}
        {{ aux }}
    {% endif %}
    <!-- container -->
    {% if error is defined and error != null %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            ERROR: {{ error }}.
        </div>
    {% endif %}
    <div class="alert alert-warning ">
        <b>Advertencia!</b> Tenga en cuenta que al cargar un nuevo archivo los codigos VIN actuales se borraran de forma permanente.
    </div>
    {% if success is not defined or success == false %}
        <div class="row">
            <!-- Basic example -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Paso 1 - Cargue el archivo CSV o TXT</h3></div>
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data" action="{{ path('subirCodigosRecall', {'idRecall':entidad.id}) }}"  role="form">
                            <div class="form-group">
                                <!-- MAX_FILE_SIZE debe preceder al campo de entrada del fichero -->
                                <input type="hidden" name="MAX_FILE_SIZE" value="20000" />
                                <label for="archivo">Ingrese el archivo</label>
                                <input type="file" name="fichero_usuario" accept="text/*, .csv"  class="form-control" id="archivo" required>
                            </div>
                            <div class="form-group">
                                <div class="radio radio-info">
                                    <input name="caracter" value="," id="radio1" type="radio" checked>
                                    <label for="radio1">
                                        CSV separado por comas ( , )
                                    </label>
                                    <br>
                                    <input name="caracter" value=";" id="radio2" type="radio">
                                    <label for="radio2">
                                        CSV separado por punto y coma ( ; )
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info waves-effect waves-light">Cargar CSV</button>
                        </form>
                    </div><!-- panel-body -->
                </div> <!-- panel -->
            </div> <!-- col-->
        </div>
    {% endif %}
    {% if paso2 is defined and paso2 %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Paso 2 - Verifique la información</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Codigo</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    {% for codigo in codigos if codigos != null %}
                                        <tr>
                                                <td>{{ codigo }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- End Row -->

        {% if success is not defined or success == false %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Paso 3 - Actualice los códigos</h3>
                        </div>
                        <form  method="post" action="{{ path('subirCodigosRecall', {'idRecall':entidad.id}) }}">
                            <input type="hidden" name="codigos" value="{{ codigos|json_encode() }}">
                            <div class="panel-body">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Actualizar Códigos</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block js %}
{% endblock %}