{% extends 'base.html.twig' %}

{% block banerInicial %}
{% endblock %}
{% block body %}
    {% if codigos is defined %}

        <!--BANNER INICIO-->
        <div class="campana" style="background-image: url({{asset('uploads/images/')~codigos[0].recall.imagen }});">
            <div class="tituloheader-campana "><h1 >Campañas de seguridad</h1></div>
        </div>

        <div class="container">
            <div class="row text-center" style="margin-top:100px;">
                <h3>EL CÓDIGO APLICA</h3>

                <div class="col-md-10 col-md-offset-1 text-center" style="margin-top:15px;">
                    <p>Código <b>{{codigo}},</b> {{codigos[0].recall.descripcion|replace({'<p>':'','</p>':''})|raw}}<br> Ingrese sus datos de contacto para obtener más información.</p>

                </div>

            </div>
            <div class="col-md-10 col-md-offset-1">
                <form action="{{ path('guardarRegistro') }}" method="post">
                    <input type="hidden" name="codigo" value="{{ codigo }}">

                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="nombres" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Nombres" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="apellidos" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Apellidos" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" name="correo" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Correo electrónico" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="telefono" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Télefono de contacto" required>
                            <input type="hidden" name="misRegistros" value="{{ misRegistros|json_encode() }}" >

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" class="btn btn-negro" style="border-radius:0;margin-bottom:15px;" value="VER INFORMACIÓN">
                        </div>
                    </div>
                </form>
            </div>
        </div>


    {% else %}

        <div class="container">
            <div class="row text-center" style="margin-top:100px;">
                <h2>EL CÓDIGO NO APLICA</h2>
                <div class="col-md-10 col-md-offset-1 text-center" style="margin-top:15px;">

                    <p>El <b>{{codigo}},</b> no aplica para alguna de las campañas de seguridad vigentes de Daimler Colombia S.A <br>Rectifique el código o intente nuevamente </p>

                </div>
                <div class="col-md-6 col-md-offset-3 text-center" style="margin-top:15px;">

                    <form action="{{ path('buscarCodigo') }}" method="post">
                        <input type="text" name="codigo" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Ingrese su código VIN o FIN">
                        <br>
                        <div class="col-md-6" style="padding-left:0;" ><input type="submit" class="btn btn-negro" style="width:100%;border-radius:0;margin-bottom:15px;" value="VOLVER A BUSCAR"></div>
                        <div class="col-md-6" style="padding-right:0;" ><a href="http://www.daimler.com.co/" class="btn btn-negro" style="width:100%;border-radius:0;">IR AL SITIO WEB</a></div>



                    </form>

                </div>

            </div>
        </div>




    {% endif %}
{% endblock %}