{% extends 'base.html.twig' %}
{% block banerInicial %}
{% endblock %}
{% block body %}

    <!--BANNER INICIO-->
    <div class="campana" style="background-image: url({{asset('uploads/images/')~codigo.recall.imagen }});">
        <div class="tituloheader-campana "><h1 >Campañas de seguridad</h1></div>
    </div>


    <div class="container">
        <div class="row text-center" style="margin-top:100px;">
            <h3>DATOS ENVIADOS CON ÉXITO</h3>
            <div class="col-md-10 col-md-offset-1 text-center" style="margin-top:15px;">

                {{codigo.recall.informacion|raw}}

            </div>
            <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:15px;">
                <div class="col-md-6" style="padding-left:0;" ><a onclick="showConcesionarios()"  class="btn btn-negro" style="width:100%;border-radius:0;cursor:pointer;">VER RED DE CONCESIONARIOS</a></div>
                <div class="col-md-6" style="padding-right:0;" ><a href="{% if codigo.recall.linkPdf != '' %}{{ asset('uploads/docs/')~codigo.recall.linkPdf }}{% else %}#{% endif %}" class="btn btn-negro" style="width:100%;border-radius:0;" target="_blank">DESCARGAR CARTA DE AUTORIZACIÓN</a></div>


            </div>

        </div>
    </div>
    <div class="inner clientes" style="margin-top:150px" id="concesionariosREd">
        <hr>
        <!--CONTENIDOS-->
        <div class="container content-interna" style="margin-top:60px;">
            <div class="row">
                <!--MENU LATERAL -->
                <aside class="col-lg-3 col-md-3 col-sm-4 ">
                    <nav class="menuLateral">
                        <ul>
                            {% for ciudad in ciudades %}
                                <li><a data-id="#{{ ciudad.id }}">{{ ciudad.nombre }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>

                </aside>
                <div class="col-lg-9 col-md-9 col-sm-8 tabinner concesionarios">
                    {% for ciudad in ciudades %}
                        <div id="{{ ciudad.id }}" class="contCon">
                            <div class="col-md-12">
                                <h3>{{ ciudad.nombre }}</h3>
                            </div>

                            {% set cont = 0 %}
                            {% for concesionario in ciudad.concesionarios %}
                                {% set cont = cont + 1 %}
                                {% if cont % 2 == 1 %}
                                    <div class="row capConce">
                                    <div class="col-md-6">
                                        <b>{{ concesionario.nombre }}</b><br>
                                        {{ concesionario.descripcion|raw }}
                                    </div>
                                {% else %}
                                    <div class="col-md-6">
                                        <strong>{{ concesionario.nombre }}</strong><br>
                                        {{ concesionario.descripcion|raw }}
                                    </div>
                                    </div>
                                {% endif %}

                            {% endfor %}

                            {% if cont % 2 == 1 %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
