{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row text-center" style="margin-top:100px;">
            <h3>¿Qué es una campaña de Servicio?</h3>

        <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:15px;">
            
            <p>Son acciones determinadas por el Grupo Daimler y sus marcas (Mercedes-Benz, Freightliner y Fuso). Estas acciones son llevadas a cabo en conjunto entre Daimler Colombia S.A. y su Red de Concesionarios autorizados a nivel nacional y van dirigidas a algunos vehículos de una determinada serie de fabricación, con el objetivo de mejorar aspectos relacionados con: seguridad, comportamiento, satisfacción, actualización de software o cualquier otro requerimiento especial ya sea de forma preventiva o correctiva.
                <br>Estimado cliente, estamos comprometidos en ofrecer soluciones y experiencias excepcionales de movilidad y servicio para usted y su vehículo. Ponemos a su disposición esta herramienta online, que le permitirá consultar si su vehículo se encuentra vinculado a una Campaña de Servicio.</p>

        </div>
        <div class="col-md-6 col-md-offset-3 text-center" style="margin-top:15px;">

            <form action="{{ path('buscarCodigo') }}" method="post">
        		<input type="text" name="codigo" class="form-control" style="height:45px;min-height:45px;border-bottom-color:#ccc;border-bottom-width:1px;" placeholder="Ingrese los códigos de su VIN">
        		<br>
        		<input type="submit" class="btn btn-negro" style="width:100%;border-radius:0;margin-bottom:15px;" value="BUSCAR">

    <a href="{{ path('queEsCodigoVin') }}" target="_blank" class="tooltip1"  style="color:#878787;">¿Qué es un código VIN?<img src="{{asset('assets/icon-1.png')}}" style="margin-top:-2px;margin-left:10px;">
<span class="tooltiptext"><img src="{{asset('assets/tarjeta.png')}}"></span>
      </a>

    		</form>

        </div>

    </div>
</div>
    
{% endblock %}