{% extends 'base_admin.html.twig' %}
{# TODO Cabiar nomPagina #}
{% set nomPagina = ciudad.nombre %}
{% block pagina %}{{ nomPagina }}{% endblock %}
{% block ubicacion %}
    <li><a href="{{ path('admin_ciudades_index') }}">Ciudades</a></li>
    <li class="active">{{ nomPagina }}</li>
{% endblock %}

{% block content %}

    {% if app.request.get('error') is defined %}
        {% set error = app.request.get('error') %}
    {% endif %}
    {% if error is defined and error != null %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <b>ERROR:</b> {{ error }}.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ form_start(delete_form, { 'attr': {'class': ''} }) }}
                    <h3 class="panel-title">Elementos Editables
                        <button type="submit" class="btn btn-danger waves-effect waves-light pull-right">Eliminar</button>
                    </h3>
                    {{ form_end(delete_form) }}
                </div>
                <div class="panel-body">


                    {{ form_start(edit_form) }}

                    {{ form_widget(edit_form) }}
                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Editar</button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Concesionarios <a href="{{ path('admin_concesionarios_new', {'id':ciudad.id}) }}" class="btn btn-success pull-right">Nuevo <span class="md  md-add"></span></a></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for entidad in ciudad.concesionarios %}
                                    <tr>
                                        <td>{{ entidad.id }}</td>
                                        <td><a href="{{ path('admin_concesionarios_edit', {'id':entidad.id}) }}">{{ entidad.nombre }}</a></td>
                                    </tr>
                                {% else %}
                                    <div class="alert alert-info">
                                        Esta ciudad aún no tiene registrado concesionarios.
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
