<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{% block title %} Daimler - Colombia{% endblock %}</title>
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{asset('css/bootstrapStyle.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/owl.carousel.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/media.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/jquery.fancybox.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/yamm.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/styleIcon.css')}}" rel="stylesheet" type="text/css">
        <style type="text/css">.fancybox-margin{margin-right:17px;}</style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">

            <div class="col-md-12 terminos text-right">
                <a href="http://daimler.com.co/terminosycondiciones.php">Términos y Condiciones<i class="info"></i></a>
            </div>
            <div class="col-sm-3 col-xs-2 text-right hidden-lg hidden-md">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-10 innerlogo ">
                <a href="http://daimler.com.co/"><img src="{{asset('assets/logo.png')}}" alt=""></a>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12 name text-right innernombre">
                Daimler Colombia
            </div>
        </div>
        <nav class="menu-principal yamm " role="navigation">
            <!--menu desk-->
            <ul>
                <li><a href="http://daimler.com.co/">INICIO</a></li>
                <li><a href="http://daimler.com.co/compania.php">COMPAÑÍA</a></li>
                <li class="dropdown yamm-fw">
                    <a href="http://daimler.com.co/recall/clase-ml-gle.php#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CLIENTES</a>
                    <nav class="contmenu dropdown-menu submenu ">
                        <ul class="container sbm sbm1">
                            <li><a href="http://daimler.com.co/mercedes-benz-turismo.php">Mercedes-Benz Automóviles</a></li>
                            <li><a href="http://daimler.com.co/mercedes-benz-comerciales.php">Mercedes-Benz Vehículos Comerciales</a></li>
                            <li><a href="http://daimler.com.co/freightliner.php">Freightliner</a></li>
                            <li><a href="http://daimler.com.co/fuso.php">FUSO</a></li>
                            <li><a href="http://daimler.com.co/creacion-actualizacion-clientes.php">Actualización de clientes</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="http://daimler.com.co/recall/clase-ml-gle.php#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROVEEDORES</a>
                    <nav class="contmenu dropdown-menu submenu sbm2">
                        <ul class="container sbm sbm2">
                            <li><a href="http://daimler.com.co/condiciones-generales.php">Condiciones generales</a></li>
                            <li><a href="http://daimler.com.co/creacion-actualizacion-proveedores.php">Creación y/o actualización proveedores</a></li>
                        </ul>
                    </nav>
                </li>
                <li><a href="http://daimler.com.co/concesionarios.php">RED DE CONCESIONARIOS</a></li>
                <li><a href="http://daimler.com.co/recall">CAMPAÑA SEGURIDAD</a></li>
                <li><a href="http://daimler.com.co/contacto.php">CONTACTO</a></li>
                <li><a href="http://daimler.com.co/trabaje-con-nosotros.php">TRABAJE CON NOSOTROS</a></li>
            </ul>
        </nav>
        <!--menu mobile-->

    </div>
</header>
<div class="collapse navbar-collapse" id="menu-mobile">
    <ul class="navbar-nav">
        <li><a href="http://daimler.com.co/">INICIO</a></li>
        <li><a href="http://daimler.com.co/compania.php">COMPAÑÍA</a></li>
        <li class="dropdown">
            <a href="http://daimler.com.co/recall/clase-ml-gle.php#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CLIENTES</a>
            <ul class="dropdown-menu">
                <li><a href="http://daimler.com.co/mercedes-benz.php">Mercedes-Benz</a></li>
                <li><a href="http://daimler.com.co/freightliner.php">Freightliner</a></li>
                <li><a href="http://daimler.com.co/fuso.php">FUSO</a></li>
                <li><a href="http://daimler.com.co/creacion-actualizacion-clientes.php">Creación y/o actualización clientes</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="http://daimler.com.co/recall/clase-ml-gle.php#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROVEEDORES</a>
            <ul class="dropdown-menu">
                <li><a href="http://daimler.com.co/condiciones-generales.php">Condiciones generales</a></li>
                <li><a href="http://daimler.com.co/creacion-actualizacion-proveedores.php">Creación y/o actualización proveedores</a></li>
            </ul>
        </li>
        <li><a href="http://daimler.com.co/concesionarios.php">RED DE CONCESIONARIOS</a></li>
        <li><a href="http://daimler.com.co/recall">CAMPAÑA SEGURIDAD</a></li>
        <li><a href="http://daimler.com.co/contacto.php">CONTACTO</a></li>
        <li><a href="http://daimler.com.co/trabaje-con-nosotros.php">TRABAJE CON NOSOTROS</a></li>
    </ul>

</div>


{% block banerInicial %}
    <!--BANNER INICIO-->
    <div class="campana" style="background-image: url({{asset('assets/campana-2.jpg')}});">
        <div class="tituloheader-campana "><h1 >Campañas de seguridad</h1></div>
    </div>
{% endblock %}
<!-- MIGA-->


{% block body %}{% endblock %}



<div class="miga container" style="margin-top:150px;">
    <div class="row">
        <a href="http://daimler.com.co/index.php" title="Ir al Inicio">Home</a><span class="sep">&gt;</span>
        <a href="http://daimler.com.co/recall/index.php">Campaña de seguridad</a> <span class="sep">&gt;</span>
        <a href="" title="Ir a CAMPAÑA DE SERVICIO">Campaña de servicio</a>
    </div>
</div>

<!-- DESTACADOS -->
<section id="destacados" class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="capsulanew">
                <div class="image" style="background-image: url(http://daimler.com.co/img/home/img1.jpg"></div>
                <div class="caption">
                    <div class="arrow"></div>
                    <h3>Campaña de seguridad</h3>
                </div>
                <a href="http://daimler.com.co/recall"></a>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="capsulanew">
                <div class="image" style="background-image: url(http://daimler.com.co/img/home/img2.jpg)"></div>
                <div class="caption">
                    <div class="arrow"></div>
                    <h3>Proveedores</h3>

                </div>
                <a href="http://daimler.com.co/condiciones-generales.php"></a>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="capsulanew">
                <div class="image" style="background-image: url(http://daimler.com.co/img/home/img3.jpg)"></div>
                <div class="caption">
                    <div class="arrow"></div>
                    <h3>Ciudadano Daimler</h3>

                </div>
                <a href="http://daimler.com.co/ciudadanodaimler"></a>
            </div>

        </div>
    </div>
</section><!--/.secc2-->

<footer class="footer container">
    <div class="row">
        <div class="menu">
            <ul>
                <li><a href="http://www.daimler.com/" target="blank">Worldwide</a></li>
                <li><a href="http://daimler.com.co/mapa-del-sitio.php">Mapa del sitio</a></li>
                <li><a href="http://daimler.com.co/contacto.php">Contáctenos</a></li>
                <li><a href="http://daimler.com.co/ciudadanodaimler" target="blank">Ciudadano Daimler</a></li>

            </ul>
        </div>
    </div>
    <div class="logos">
        <a href="http://www.mercedes-benz.com.co/" target="blank"><img src="{{asset('assets/mercedes.jpg')}}" alt="Logo Mercedes"></a>
        <a href="http://www.freightliner.com.co/" target="blank"><img src="{{asset('assets/freightliner.jpg')}}" alt="Logo Freightliner"></a>

        <a href="http://www.fuso.com.co/" target="blank"><img src="{{asset('assets/fuso.jpg')}}" alt="Logo Fuso"></a>

        <a href="http://www.portal.daimler.com.co/" target="blank"><img src="{{asset('assets/portal.png')}}" alt="Logo Portal Oficial Daimler"></a>


    </div>
    <div class="copy">© 2016 Daimler Colombia All Rights Reserved    Política de privacidad</div>

</footer>

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.fancybox.pack.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.fancybox-media.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/recall.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.bootstrap-dropdown-hover.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            $("#concesionariosREd").hide();
        })

        function showConcesionarios() {$("#concesionariosREd").show();}
        function hideConcesionarios() {$("#concesionariosREd").show();}

        $('.menu-principal [data-toggle="dropdown"]').bootstrapDropdownHover({
            // see next for specifications
        });
    </script>
    <script type="text/javascript" src="{{asset('js/owl.carousel.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/scripts.js')}}"></script>
    <script>
        $('#formContacto').submit(function(){
            var form=1;
            $("#formContacto .form-control").each(function(){
                if ($(this).val() == ""){
                    $(this).addClass("erro");
                    form=0;
                }else{
                    if(form==1){

                        $(this).removeClass("erro");
                        if($("#conf").is(':checked')){

                        }else{
                            $("#check_msg").html("Seleccione la casilla de aceptaci&oacute;n de t&eacute;rminos y condiciones para enviar el mensaje");
                            form=0;
                        }
                    }
                }
            });
            if(form == 0){
                return false;
            }
        });
    </script>


{% endblock %}
</body>
</html>



