/** **/
@font-face {
  font-family: 'CorporateS';
  src: url("../fonts/CorporateS-Regular.ttf") format("truetype"), url("../fonts/CorporateS-Regular.otf") format("opentype");
}
@font-face {
    font-family: "DaimlerCS-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/daimler-cs-regular-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/daimler-cs-regular-woff.woff") format("woff"), url("../fonts/daimler-cs-regular-ttf.ttf") format("truetype"), url("../fonts/daimler-cs-regular-svg.svg#DaimlerCS-Regular") format("svg");
}
@font-face {
    font-family: "CorporateS-Light";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Corporate-S-Light-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Corporate-S-Light-Regular.woff") format("woff"), url("../fonts/Corporate-S-Light-Regular.ttf") format("truetype"), url("../fonts/Corporate-S-Light-Regular.svg#CorporateS-Light") format("svg");
}
h3 {
  font-size: 25px;
  font-family: 'CorporateS';

}
a:focus{
    text-decoration: none;
}


.tooltip1 {
    position: relative;
    display: inline-block;
    color:red;
    text-decoration:none;
}
.tooltip1:hover{
  text-decoration:none;
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 0px 0;
    position: absolute;
    z-index: 1;
    bottom:-400%;
    right: -104%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}


.tooltip1 .tooltiptext::after {

}

.tooltip1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.font-corporate{
  font-family: CorporateS;
}
.form-control:focus{
    background-color: #e6e6e6;
}
.tabled {
  border-bottom: 1px solid #c7c7c7;
}
.tabled td, .tabled th {
  padding: 10px 0 !important;
}

p {
  margin: 0 0 25px;
  font-size:16px;
}
body{
    background-color: #f9f8f6;
  font-family: 'CorporateS';
  font-size:16px;

}

.btn-negro {
  padding: 12px 42px 12px 27px;
  color: #fff;
  position: relative;
  background-color: #000;
}
.btn-negro::after{
    background: url(http://daimler.com.co/img/arrowBtn.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 9px;
    content:"";
}


.btn-negro:hover {
    color: #fff;
}

.tablecont {
  border-top: 1px solid #c7c7c7;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 1px solid #c7c7c7;
}

.tablebold td, .tablebold th {
  font-weight: bold;
}

.content-interna {
  margin-bottom: 60px;
  margin-top: 30px;
}

.destaca-interna {
  margin-top: 45px;
}

.miga .row {
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.miga .row a {
  color: #444444;
  font-size: 14px;
}
.miga .row a:hover {
  color: #000;
  text-decoration: none;
}
.miga .row .sep {
  margin-right: 10px;
  margin-left: 10px;
  color: #444444;
}
.capsulaSlider .contblack a{ 
    display: block;
    height: 100%;
    width: 100%;
}

.contblack {
  background-color: #fff;
  padding: 15px 25px;
  color: #000;
  font-size: 28px;
  max-width: 478px;
  position: relative;
}
.contblack:hover {
    background-color: #C8C8C8;
}
.contblack a{
    color:#000;
    text-decoration: none;
}
.contblack a:hover{
    color:#000;
}

.menuLateral {
  text-transform: uppercase;
}
.menuLateral ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
}
.menuLateral li a {
  padding: 10px 20px 10px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #c7c7c7;
  cursor: pointer;
  display: block;
}

.menuLateral li a:hover, .menuLateral li a.active{
    color:#fff;
    background-color: #000;
    text-decoration: none;
}
.menuLateral li:last-child {
  border-bottom: none;
}


.menulateralLink{
    
}
.tabinner > div {
  display: none;
}

.capsulanew {
  background-color: #e6e6e6;
  padding: 20px;
  position: relative;
  margin-bottom: 28px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.capsulanew p {
  margin: 0;
}
.capsulanew:hover {
  background-color: #c8c8c8;
}
.capsulanew .image {
  background-size: cover;
  height: 130px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.capsulanew .caption {
  position: relative;
}
.capsulanew .caption p {
  width: 80%;
}
.capsulanew .caption .arrow, .carouselprincipal .arrow  {
  width: 24px;
  height: 54px;
  background: url("http://daimler.com.co/img/sprite.png") no-repeat -32px -12px;
  position: absolute;
  right: 3px;
  top: -5px;
}
.capsulanew .caption h3{
    font-size: 23px;
    width: 90%;
}
.carouselprincipal .arrow  {
    right: 13px;
    top:7px;
}
.carouselprincipal .arrow2  {
    right: 13px;
    top:26px;
}
.capsulanew a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.capsulanew .min {
  font-size: 20px;
}

.descargas > div {
  padding: 15px;
  border-top: 1px solid #c7c7c7;
  position: relative;
}
.descargas:last-child {
  border-bottom: 1px solid #c7c7c7;
}
.descargas .imgPdf {
  width: 40px;
  height: 50px;
  background: url("http://daimler.com.co/img/sprite.png") no-repeat -8px -80px;
}
.descargas .imgDown {
  width: 45px;
  height: 45px;
  background: url("http://daimler.com.co/img/sprite.png") no-repeat;
}
.descargasCiudadano .imgDown {
  width: 30px;
  height: 30px;
  background-size:contain;
}
.descargas .descr {
  position: absolute;
  left: 70px;
  top: 20px;
  font-weight: bold;
}
.descargas .descr .subt {
  color: #929497;
}

/*banner*/
.cabecera {
  width: 100%;
  height: 310px;
  background-size: cover;
  margin-bottom: 30px;
  padding-top: 110px;
  background-repeat: no-repeat;
}
.cabecera .content {
  margin: auto;
}
.cabecera .contblack {
  font-size: 50px;
  margin: auto;
  text-align: center;
}
.cabecera.mercedes {
  background-position: 0 -36px;
}
.cabecera.mercedes .contblack {
  max-width: 364px;
}
.cabecera.datos {
  background-position: 2px center;
}
.cabecera.datos .contblack, .cabecera.conce .contblack, .cabecera.campana .contblack  {
  max-width: 770px;
}
.campana{
    height: 350px;
    background-position: center;
    background-color:#000;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.cabecera.fuso {
  background-position: 0px center;
}
.cabecera.fuso .contblack {
  max-width: 190px;
}
.cabecera.seguridad {
  background-position: 0px -240px;
}
.cabecera.seguridad .contblack {
  max-width: 520px;
}
.cabecera.freight{
    background-position: center center;
}

/*header*/
.header {
  background: url(http://daimler.com.co/img/bg_header.jpg) no-repeat center top/cover;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 1px;
  position: relative;
}
.header .name{
    font-size: 26px;
}
.header .terminos{
    margin-bottom: 10px;
}
.header .terminos .info{
    width: 15px;
    height: 15px;
    background: url(http://daimler.com.co/img/sprite.png);
    background-position: -82px -18px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: -3px;
}
.header .terminos a{
    color:#707070;
    font-size: 13px;
}
.header .terminos a:hover, .header .terminos a:focus  {
    color:#000;
    text-decoration: none;
}
.header .terminos a:hover .info, .header .terminos a:focus .info {
   background-position: -100px -18px;
}

.header .menu-principal {
  margin-top: 25px;
  color: #000;
  text-transform: uppercase;
}
.header .menu-principal > ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.header .menu-principal > ul > li {
  display: inline;
  
}
.header .menu-principal > ul > li a{
    position: relative;
    text-transform:none;
    display: inline-block
}

.header .menu-principal > ul > li:first-child a::before {
  display:none;
}
.header .menu-principal > ul > li a::before {
   
    background: transparent url(http://daimler.com.co/img/img-divider-nav.png) no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: bottom;
    width: 9px;
}
.header .menu-principal > ul > li a {
  padding: 0 4px 0 18px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.header .menu-principal > ul > li:first-child a{
    padding: 0 4px 0 0px;
}
.header .menu-principal > ul > li a:hover {
  text-decoration: none;
  color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F9F8F6;
}
.header .menu-principal .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.header .menu-principal .dropdown-menu a {
  color: #000;
  padding: 12px 27px;
}


.header .navbar-toggle {
  background-color: #000;
}
.header .navbar-toggle .icon-bar {
  background-color: #fff;
}

#menu-mobile{
    background-color: #000;
    color:#fff;
    padding-right: 0;
    padding-left: 0;
}
#menu-mobile ul{
    list-style: none;
    color:#fff;
    padding-left: 0;
    
}

#menu-mobile ul a{
    color: #ffffff;
    display: block;
    padding: 6px 14px 9px 40px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    
}
#menu-mobile ul li ul a{
    padding: 6px 14px 9px 50px;
}
#menu-mobile ul li:last-child a{
    border-bottom: 0;
}


/*slider general*/
.carouselprincipal .item {
  background-size: cover;
  padding-top: 230px;
  background-position: center;
}
.carouselprincipal .capsulaSlider {
  width: 784px;
  margin: auto;
}

.pieSlider {
  position: absolute;
  width: 100%;
  top: 350px;
  z-index: 1;
  text-align: center;
}
.pieSlider .capsulaSlider {
  width: 625px;
  margin: auto;
}
.pieSlider .dot {
  float: left;
  width: 120px;
  height: 94px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.pieSlider .dot span {
  display: block;
  padding: 10px;
}
.pieSlider .dot:hover {
  background-color: black;
}
.pieSlider .dot.active {
  background-color: #fff;
  color: #000;
}
.pieSlider .dot.active::before {
  border-bottom: 11px solid #ffffff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  height: 0;
  left: 50px;
  position: absolute;
  top: -11px;
  width: 0;
}

.owl-carousel, .owl-stage-outer, .owl-item, .owl-carousel .item, .owl-stage {
  height: 100%;
}

/*HOME*/
.home #slider {
  position: relative;
  width: 100%;
  height: 460px;
}
#destacados {
  margin-top: 45px;
  margin-bottom: 15px;
}

/*FOOTER*/
.footer {
  text-align: center;
}
.footer .menu {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .menu ul {
  list-style: none;
  margin: 0;
}
.footer .menu ul li {
  display: inline-block;
  margin-right: 25px;
}
.footer .menu ul li a {
  color: #444444;
}
.footer .menu ul li a:hover {
  color: #000;
  text-decoration: none;
}
.footer .logos {
  margin-top: 45px;
  margin-bottom: 45px;
}
.footer .logos img {
  display: inline;
  margin-right: 25px;
}
.footer .copy {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 15px;
}

/*Clientes*/
.clientes .cap1 {
  margin-bottom: 15px;
}
/*Concesionarios*/

.concesionarios .capConce{
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.capConce{
    line-height: 1.4;
}
.contCon .capConce:last-child{
    border-bottom: none;
}

/*Campana*/

.valid{
    margin-bottom: 25px;
}

.msj{
    display: none;
    font-weight: bold;
}
.validar{
    width: 50%; 
    float:left; 
    border-radius: 0
}

.btn-negro.buscar{
    background-color: #000;
}

.btn-negro.done{
     background-color: #16ac0a;
}
.btn-negro.fail{
     background-color: #e00606;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity:1 !important;
}
.validarchasis img{
    margin-bottom: 0;
}
.capciudadano{
    height: 222px; 
}
.form-control{
    border-radius: 0 !important;
    border-bottom: 2px solid #00677F;
}
.form-control.erro{
   
    border-bottom: 2px solid #ff0000;
}
.error{
    color:#ff0000;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-nav {
    margin: 8.75px 0;
}
img{
    max-width: 100%;
}
.tituloheader{
    padding-top: 26px;
    padding-bottom: 30px;
    text-align: center;
}
.tituloheader-campana{
  padding-top: 140px;
    width: 550px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.tituloheader-campana h1{
  width:auto;
  text-align:center;
  color:#fff;
  background-color:#000;
  margin:0;padding:10px;
  font-size: 50px;
  font-family:"CorporateS-Light";

}
.tituloheader h1{
    font-size: 35px;
    margin: 0;

}

.margin0{
    margin-top: 0;
}

/*Sitemap*/
.sitemap .bannersecc{
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    
        
}
.sitemap .bannersecc img{
    width: 100%;
}
.sitemap .bannersecc .titulo{
    background-color: #003340;
    position: absolute;
    width: 290px;
    color:#fff;
    height: 70px;
    width: 293px;
    top: 0;
    left: 0;
}
.sitemap .bannersecc .titulo.camp{
    width: 355px;
}

.sitemap .bannersecc .titulo a{
    font-size: 25px;
    color:#fff;
    display: block;
    height: 100%;
    width: 100%;
    padding: 17px 50px 19px 39px;
    font-weight: bold;
}
.sitemap .bannersecc .titulo a:hover{
    text-decoration: none;
    background-color: #00677F;
}
.sitemap .bannersecc .titulo::after{
    background: rgba(0, 0, 0, 0) url("http://daimler.com.co/img/sprite.png") no-repeat scroll -22px -140px;
    content: "";
    height: 50px;
    position: absolute;
    right:14px;
    top: 13px;
    width: 30px;
}
.sitemap .map{
    margin-bottom: 60px;
}
.sitemap .map ul{
    list-style:none;
  margin-top: 20px;
}
.sitemap .map ul a{
    color: #00677f;
    font-size: 16px;
} 
.sitemap .map ul li{
    padding-bottom: 5px;
} 

.terminos h2{
    font-size: 30px;
}

#slider .owl-prev, #slider .owl-next {
    background: transparent;
    color: #ffffff;
    width: 52px;
    height: 460px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    display: none;
    text-align: center;
    font-size: 5em;
    z-index: 4000;
    cursor: pointer;
    background-color: rgba(0,0,0,0.0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}
#slider .owl-prev:hover{
    background-color: rgba(0,0,0,0.2);
}
#slider .owl-next:hover{
    background-color: rgba(0,0,0,0.2);
}
#slider .owl-prev{
    left: 0;
}
#slider .owl-next{
    right: 0;
}

#slider .owl-prev::before{
    background-image: url('http://daimler.com.co/img/sprite.png');
    background-position: -165px -3px;
    content:"";
    display: block;
    height: 80px;
    top:195px;
    left: 5px;
    position: absolute;
    width: 100%;
    
}

#slider .owl-next::before{
    background-image: url('http://daimler.com.co/img/sprite.png');
    background-position: -205px -3px;
    content:"";
    display: block;
    height: 80px;
    top:195px;
    right: 0px;
    position: absolute;
    width: 100%;
}
.submenu{
    position: absolute !important;
    margin: auto;
    background-color: #F9F8F6;
    box-shadow: none;
    border-width: 0 0 1px 0; 
    
}
.submenu li{
    display: inline-block;
}
.dropdown-menu > li > a {
    display: inline-block;
}

.submenu a:hover{
    color:#9e9e9e !important;
}
.sbm::before{
    border-bottom: 8px solid #F9F8F6;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: -8px;
    width: 0;
}
.sbm{
    
}
.sbm2::before{
    left: 310px;
}
.sbm1::before{
    left: 205px;
}
.submenu li a::before{
    display: none !important;
}
.text-strong{
    font-weight: bold;
}
#menu-mobile .navbar-nav > li {
    width: 100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.labelFile{
    
    display: block;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

@media(max-width:768px){
  .tituloheader-campana{
  padding-top: 140px;
    width: auto;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
}