@font-face {
	font-family: 'Daimler_Iconset-Filetypes-Logos_01';
	src:url('../fonts/Daimler_Iconset-Filetypes-Logos_01.eot?s8u57i');
	src:url('../fonts/Daimler_Iconset-Filetypes-Logos_01.eot?s8u57i#iefix') format('embedded-opentype'),
		url('../fonts/Daimler_Iconset-Filetypes-Logos_01.ttf?s8u57i') format('truetype'),
		url('../fonts/Daimler_Iconset-Filetypes-Logos_01.woff?s8u57i') format('woff'),
		url('../fonts/Daimler_Iconset-Filetypes-Logos_01.svg?s8u57i#Daimler_Iconset-Filetypes-Logos_01') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Daimler_Iconset-Filetypes-Logos_01';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo-xing:before {
	content: "\21";
}
.icon-logo-twitter:before {
	content: "\22";
}
.icon-logo-twitter-bird:before {
	content: "\23";
}
.icon-logo-you-tube:before {
	content: "\24";
}
.icon-logo-pinterest:before {
	content: "\25";
}
.icon-logo-youtube-clip:before {
	content: "\26";
}
.icon-logo-linkedin:before {
	content: "\27";
}
.icon-logo-google-plus-1:before {
	content: "\28";
}
.icon-logo-facebook:before {
	content: "\29";
}
.icon-news-article:before {
	content: "\2a";
}
.icon-newspaper:before {
	content: "\2b";
}
.icon-video-clip-2:before {
	content: "\2c";
}
.icon-file-acrobat:before {
	content: "\2d";
}
.icon-file-add-1:before {
	content: "\2e";
}
.icon-file-bar-graph:before {
	content: "\2f";
}
.icon-file-block-1:before {
	content: "\30";
}
.icon-file-check-1:before {
	content: "\31";
}
.icon-file-delete-1:before {
	content: "\32";
}
.icon-file-download-1:before {
	content: "\33";
}
.icon-file-edit-1:before {
	content: "\34";
}
.icon-file-excel:before {
	content: "\35";
}
.icon-file-favorite-star-1:before {
	content: "\36";
}
.icon-file-format-mp3:before {
	content: "\37";
}
.icon-file-format-mp4:before {
	content: "\38";
}
.icon-file-format-zip:before {
	content: "\39";
}
.icon-file-graph-pie:before {
	content: "\3a";
}
.icon-file-hierarchy:before {
	content: "\3b";
}
.icon-file-highlight:before {
	content: "\3c";
}
.icon-file-keynote:before {
	content: "\3d";
}
.icon-file-line-graph:before {
	content: "\3e";
}
.icon-file-lock-1:before {
	content: "\3f";
}
.icon-file-module-edit:before {
	content: "\40";
}
.icon-file-music-1:before {
	content: "\41";
}
.icon-file-new-1:before {
	content: "\42";
}
.icon-file-new-2:before {
	content: "\43";
}
.icon-file-new-3:before {
	content: "\44";
}
.icon-file-notepad:before {
	content: "\45";
}
.icon-file-pdf:before {
	content: "\46";
}
.icon-file-picture:before {
	content: "\47";
}
.icon-file-powerpoint:before {
	content: "\48";
}
.icon-file-powerpoint-show:before {
	content: "\49";
}
.icon-file-refresh-1:before {
	content: "\4a";
}
.icon-file-rtf:before {
	content: "\4b";
}
.icon-file-setting-1:before {
	content: "\4c";
}
.icon-file-stamp:before {
	content: "\4d";
}
.icon-file-subtract-1:before {
	content: "\4e";
}
.icon-file-sync-1:before {
	content: "\4f";
}
.icon-file-table:before {
	content: "\50";
}
.icon-file-text-chart:before {
	content: "\51";
}
.icon-file-text-document:before {
	content: "\52";
}
.icon-file-upload-1:before {
	content: "\53";
}
.icon-file-video-1:before {
	content: "\54";
}
.icon-file-view-1:before {
	content: "\55";
}
.icon-file-warning-1:before {
	content: "\56";
}
.icon-file-words:before {
	content: "\57";
}
.icon-file-zipped:before {
	content: "\58";
}
.icon-picture-1:before {
	content: "\59";
}
.icon-picture-2:before {
	content: "\5a";
}
.icon-picture-3:before {
	content: "\5b";
}

